.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.65);
    opacity: 0;
    pointer-events: none;

    >*:first-child {
        position: fixed;
        top: 17px;
        right: 17px;
        color: white;
        cursor: pointer;
    }

    body.backdrop-active & {
        opacity: 1;
        pointer-events: auto;
    }
}