.comment-preview {
    @include comment-layout;

    .user {
        font-size: rem(14px);
    }

    .actions {
        >*:not(.created-at) {
            font-size: rem(12px);
            font-weight: 600;
            color: $gray3;
        }

        >*:hover {
            cursor: pointer;
        }
    }

    .options-icon {
        margin-block-start: rem(-3px);
        opacity: 0;
        pointer-events: none;
    }

    &:hover {
        .options-icon {
            opacity: 1;
            pointer-events: auto;
        }
    }
}