.create-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 330px;
    grid-template-rows: auto 1fr;

    .local-img {
        grid-row: 1 / -1;
        border-inline-end: 1px solid $gray1;
    }
}