.dynamic-modal {
    @include modal;
    border-radius: rem(12px);
    background-color: white;
    width: 400px;

    ul {
        display: grid;
        text-align: center;
        font-size: rem(14px);
        cursor: pointer;

        > li {
            padding-block: rem(14px);

            &:not(:last-child) {
                border-block-end: 1px solid $gray1;
            }

            &.danger {
                color: $clr1;
                font-weight: 700;
            }
        }
    }
}