.feed-preview {
    display: grid;
    row-gap: 12px;
    font-size: calc(1rem - 2px);
    border-block-end: 1px solid $gray1;
    margin-block-end: rem(20px);

    .fullname {
        font-weight: 600;
    }

    .uploader {
        $gtc: repeat(6, auto) 1fr;
        @include uploader($gtc)
    }

    .actions {
        @include feed-action-bar
    }

    .details {
        display: grid;
        gap: rem(7px);

        .fullname {
            margin-inline-end: em(4px);
        }

        .likes {
            font-weight: 600;
        }

        .view-comments {
            color: $gray3;
        }
    }
}