.feed-edit {
    @include modal;

    display: grid;
    text-align: center;
    align-items: center;

    grid-template-rows: auto 1fr;

    width: 734px;
    height: 82vh;
    background-color: white;
    border-radius: 10px;
    transition: width 0.5s;

    &.expanded {
        width: 1074px;
    }

    .title {
        font-size: 1rem;
        font-weight: 600;
        border-block-end: 1px solid $gray1;
        padding-block: 0.6em;
    }

    .title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-block-end: 1px solid $gray1;
        padding-block: 0.6em;
        padding-inline: rem(16px);

        .btn {
            line-height: 0.5;
        }

        h2 {
            font-size: 1rem;
            font-weight: 600;
        }

        .btn-next {
            font-size: rem(14px);
            @include btn-primary
        }
    }

    .content-upload-container {
        display: grid;
        justify-items: center;
        row-gap: rem(18px);

        p {
            font-size: em(20px);
        }

        .btn-select {
            background-color: $clr4;
            color: white;
            border-radius: 8px;
            padding: em(7px) em(16px);
            font-weight: 600;
            font-size: rem(14px);
            cursor: pointer;

            &:hover {
                background-color: $clr5;
            }
        }

        input[type=file] {
            display: none;
        }
    }

    .local-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .crop-container {
        height: 100%;
        cursor: grab;
    }

    .edit-container {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 330px;
        grid-template-rows: auto 1fr;

        .local-img {
            grid-row: 1 / -1
        }

        .tabs {
            display: grid;
            grid-auto-flow: column;
            font-size: rem(14px);

            >* {
                color: $gray-2;
                border-bottom: 1px solid $gray-1;
                padding-block: rem(12px);
                transition: color 0.7s, border-color 0.5s;
                cursor: pointer;

                &.selected {
                    color: $clr3;
                    border-color: $clr3;
                    font-weight: 600;
                }
            }
        }
    }
}