.feed-details {
    @include modal;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'img uploader'
        'img info'
        'img bottom-bar';
    max-width: 80vw;
    max-height: 96vh;
    background-color: white;
    border-radius: 5px;

    >*:not(.feed-img) {
        padding: rem(16px)
    }

    .feed-img {
        grid-area: img;
        height: 100%;
        justify-self: center;
        object-fit: cover;
        object-position: center;

    }

    .created-at {
        color: $gray3;
        font-size: em(12px);
    }

    .uploader {
        grid-area: uploader;
        $gtc: auto auto 1fr;
        @include uploader($gtc);
        font-size: rem(14px);
        padding-block: rem(14px);
        border-block-end: 1px solid $gray0;

        img {
            margin-inline-end: rem(14px);
            cursor: pointer;
        }
    }

    .info {
        grid-area: info;

        >*:first-child {
            $gtc: 32px 1fr;
            font-size: rem(14px);
            margin-block-end: rem(24px);
            @include comment-layout($gtc)
        }

        img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            object-position: top;
            cursor: pointer;
        }

        .fullname {
            font-weight: 600;
            margin-inline-end: rem(4px);
        }

        .txt {
            margin-block-end: rem(2px);
        }
    }

    .bottom-section {
        grid-area: bottom-bar;
        display: grid;
        gap: rem(4px);

        .actions {
            @include feed-action-bar;
            margin-block-end: 10px
        }

        .likes {
            font-weight: 600;
            font-size: em(14px);
        }

        .created-at {
            border-block-end: 1px solid $gray1;
            padding-block-end: em(13px);
        }

        .add-comment {
            align-self: center;
            margin: em(10px) 0;
        }
    }
}