.feed-edit {
    @include modal;

    display: grid;
    text-align: center;
    align-items: center;

    grid-template-rows: auto 1fr;

    width: 734px;
    height: 82vh;
    background-color: white;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;

    body.feed-edit-active & {
        opacity: 1;
        pointer-events: auto;
    }

    .title {
        font-size: 1rem;
        font-weight: 600;
        border-block-end: 1px solid $gray1;
        padding-block: 0.6em;
    }

    .title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-block-end: 1px solid $gray1;
        padding-block: 0.6em;
        padding-inline: rem(16px);

        .btn {
            line-height: 0.5;
        }

        h2 {
            font-size: 1rem;
            font-weight: 600;
        }

        .btn-next {
            font-size: rem(14px);
            @include btn-primary
        }
    }

    .content-upload-container {
        display: grid;
        justify-items: center;
        row-gap: rem(18px);

        p {
            font-size: em(20px);
        }

        .btn-select {
            background-color: $clr4;
            color: white;
            border-radius: 8px;
            padding: em(7px) em(16px);
            font-weight: 600;
            font-size: rem(14px);
            cursor: pointer;

            &:hover {
                background-color: $clr5;
            }
        }

        input[type=file] {
            display: none;
        }
    }

    .crop-container {
        height: 100%;
        cursor: grab;
        .local-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}