.nav-bar {
    position: sticky;
    top: 0;
    height: 100vh;
    padding: rem(8px) rem(12px) rem(20px) rem(12px);
    border-inline-end: 1px solid $gray1;

    .logo {
        padding: rem(32px) rem(12px) rem(28px) rem(12px);
    }

    .nav-list {
        height: 100%;
        display: flex;
        flex-direction: column;

        li:not(.logo) {
            display: flex;
            align-items: center;
            gap: rem(16px);
            padding: rem(16px) rem(12px);
            border-radius: 8px;
            transition: background-color 0.3s;
            cursor: pointer;

            &:hover {
                background-color: $gray4;
            }

            &>a {
                display: flex;
                align-items: center;
                gap: rem(16px);
                width: 100%;
            }

            &.btn-profile {
                margin-block-end: auto;
                align-items: start;

                .user-img {
                    object-position: center;
                    object-fit: cover;
                    height: 24px;
                    width: 24px;
                    border-radius: 50%;
                }

                & a.active {
                    .user-img {
                        outline: 2px solid black;
                    }
                }
            }

            .svg-icon.normal {
                display: inline-block;
            }

            .svg-icon.bold {
                display: none;
            }

            .active {
                font-weight: bold;

                .svg-icon.normal {
                    display: none;
                }

                .svg-icon.bold {
                    display: inline-block;
                }
            }
        }
    }

    .tool-tip {
        position: fixed;
        background-color: white;
        font-size: em(14px);
        padding: em(8px);
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
        border-radius: 15px;
        width: 265px;
        bottom: 78px;
        left: 15px;
        cursor: pointer;

        visibility: hidden;
        pointer-events: none;

        &.active {
            visibility: visible;
            pointer-events: auto;
        }

        p {
            border-radius: 10px;
            width: 100%;
            padding: em(16px);

            &:hover {
                background-color: $gray0;
            }
        }
    }

}