.options-modal {
    border-radius: rem(12px);
    background-color: white;
    width: 400px;

    ul {
        display: grid;
        text-align: center;
        font-size: rem(14px);
        cursor: pointer;

        > li {
            padding-block: rem(14px);

            &:not(:last-child) {
                border-block-end: 1px solid $gray1;
            }

            &.danger {
                color: $clr1;
                font-weight: 700;
            }
        }
    }

    .feed-remove-approval {
        display: grid;
        text-align: center;
        gap: 0.4rem;

        padding: 32px;
        padding-block-end: rem(32px);

        h2 {
            font-weight: 400;
            font-size: rem(20px);
        }

        p {
            color: $gray3;
            font-size: rem(14px);
        }

        ~ ul {
            > li {
                &:first-child {
                    border-block-start: 1px solid $gray1;
                }
            }
        }
    }
}