.signup-page {
    width: 350px;
    margin: auto;
    padding-block-start: 10vh;
    text-align: center;

    > * {
        border: 1px solid $gray1;
    }

    > *:first-child {
        display: grid;
        gap: rem(18px);
        margin-block-end: rem(10px);

        .logo {
            width: max-content;
            height: 103px;
            overflow: hidden;
            justify-self: center;

            &~p {
                font-weight: 600;
                color: $gray3;
            }
        }

        .btn-facebook-login {
            justify-self: center;
            width: 75%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: rem(8px);
            border: none;
            color: white;
            background: $clr4;
            padding: rem(7px) rem(16px);
            font-size: 14px;
            font-weight: 600;
            font-family: $font;
            border-radius: rem(8px);

            img {
                width: 16px;
            }

            &:hover {
                background: $clr5;
            }
        }

        form {
            display: grid;
            width: 75%;
            justify-self: center;
            row-gap: rem(6px);
        }

        input {
            font-size: rem(12px);
            font-family: $font;
            background-color: #fafafa;
            border: 1px solid $gray1;
            border-radius: rem(3px);
            padding: rem(9px) 0px rem(7px) rem(8px);

            &:focus-visible {
                outline: 1px solid $gray2;
            }
        }

        .btn-signup {
            border: none;
            color: white;
            background: $clr6;
            padding: rem(7px) rem(16px);
            font-size: 14px;
            font-weight: 600;
            font-family: $font;
            border-radius: rem(8px);
            margin-block-start: rem(9px);
            margin-block-end: rem(22px);
        }

        .or {
            display: grid;
            gap: rem(18px);
            grid-template-columns: 1fr auto 1fr;
            place-items: center;
            font-size: rem(13px);
            font-weight: 600;
            color: $gray3;
            width: 75%;
            justify-self: center;

            > * {
                width: 100%;
                height: 1px;
                background-color: $gray1;
            }
        }
    }

    .btn-have-account {
        font-size: rem(14px);

        a {
            color: $clr4;
            font-weight: 600;
        }
    }

    >*:nth-child(2) {
        padding: rem(23px) 0px;
    }
}