.main-layout {
    display: grid;
    grid-template-columns: 73px minmax(1013px, 1fr);

    @include for-normal-layout {
        grid-template-columns: 245px minmax(1013px, 1fr);
    }

    @include for-wide-layout {
        grid-template-columns: 336px minmax(1013px, 1fr);
    }
}